<div class="container">
  <div class="page-header">
    <h1><%= @project.name %>: Manager Members</h1>
  </div>
  <ol class="breadcrumb">
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to @project.name, project_path(@project) %></li>
    <li class="active">Memberships</li>
  </ol>

  <div class="well form-inline">
    <%= form_for [@project, @membership] do |f| %>
    <%= f.collection_select :user_id, User.all, :id, :full_name, {include_blank: false}, {class: "form-control"} %>
    <%= f.select(:role, [["Member", :member],["Owner", :owner]], {include_blank: false}, {class: "form-control"}) %>
    <%= f.submit 'Add New Member', class: "btn btn-primary" %>

  </div>
<table>
  <% @memberships.each do |membership| %>
    <tr>
      <td>
        <%= membership.user.full_name %>
        <%= f.select(:role, [["Member", :member],["Owner", :owner]], {include_blank: false}, {class: "form-control"}) %>
        <%= link_to 'Delete', project_membership_path(@project, membership), class: 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?'} %>
      </td>
    </tr>
    <% end %>
  <% end %>
</table>
</div>
