<div class="container">
  <div clas="page-header">
    <div class = "pull-right">
      <%= link_to'New User', new_user_path, class: 'btn btn-info' %>
    </div>

    <h1>Users</h1>
    <hr>
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-2 col-md-offset-2">Name</th>
          <th></th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.first_name + " " + user.last_name, user %></td>
          <td></td>
          <% if current_user.id == user.id || current_user.admin == true ||  %>
          <td><%= mail_to user.email %></td>
          <td class="text-right">
            <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-info' %>
            <%= link_to 'Delete', user, class: 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?'} %>
            <% else %>
            <td></td>
            <td></td>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>

    </table>

  </div>
</div>
