
<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <% if current_user.id == @user.id %>
      <%= link_to 'Edit', edit_user_path, class: 'btn btn-info', data: { confirm: "Are you sure?"} %>
      <% end %>
    </div>

    <h1><%= @user.full_name %></h1>
    <hr>

    <dl class="dl-horizontal">
      <dt>First name</dt>
      <dd><%= @user.first_name %></dd>
      <dt>Last name</dt>
      <dd><%= @user.last_name %></dd>
      <% if current_user == @user %>
      <dt>Email</dt>
      <dd><%= mail_to @user.email %></dd>

      <% end %>
    </dl>

  </div>
</div>
