<html>
<div class="container">
  <div class="jumbotron">

    <h1>waffle iron</h1>
    <p>Project management for your personal life.</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class ="lead">
      <%= image_tag("laundrytime4.jpg", class: "img-responsive") %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Manage Projects
        </div>
        <div class="panel-body">
          Organize errands and work into projects.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class ="lead">
      <%= image_tag("map.jpg", class: "img-responsive") %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Create Tasks
        </div>
        <div class="panel-body">
          Divide projects into tasks and get the job done!
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class ="lead">
      <%= image_tag("birthday.jpg", class: "img-responsive") %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Share and Manage
        </div>
        <div class="panel-body">
          Add other users to tasks and manage memberships.
        </div>
      </div>
    </div>
  </div>

 <% @quotes.each do |quote| %>
  <div><p><%= quote[0] %></p></div>
  <div><p><em class="text-muted"> - <%= quote[1] %></p></em></div>
 <% end %>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</html>
