<html>
<div class="container">
  <div class="jumbotron">

    <h1>gCamp</h1>
    <p>Your life, organized.</p>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p class ="lead">
      <%= image_tag("yellowtablet.jpg", class: "img-responsive") %>
      </p>
      <!-- <img alt="Panel1" class="img-responsive" src="/assets/yellowtablet.jpg"> -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          Tasks
        </div>
        <div class="panel-body">
          Grouped by projects and lists, just the way you like'em
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class ="lead">
      <%= image_tag("penspapers.jpg", class: "img-responsive") %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Documents
        </div>
        <div class="panel-body">
          <ul>
            <li>Upload</li>
            <li>Comment</li>
            <li>Revise</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <p class ="lead">
      <%= image_tag("guyatcomputer.jpg", class: "img-responsive") %>
      </p>
      <div class="panel panel-primary">
        <div class="panel-heading">
          Comments</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li>Comment on tasks and documents</li>
            <li>Get email notifications</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

 <% @quotes.each do |quote| %>
  <p><%= quote[0] %></p>
  <p><em> - <%= quote[1] %></p></em>
 <% end %>

 <hr>

  <!-- <footer>
  #   <div class="row">
  #     <div class="col-md-6">
  #       <a href="/about">About</a>
  #       |
  #       <a href="/terms">Terms</a>
  #       |
  #       <a href="/faq">FAQ</a>
  #       |
  #       <a href="/tasks">Tasks</a>
  #     </div>
  #
  #       <div class="col-md-6 text-right">
  #         <a href="https://www.linkedin.com">
  #         <%= image_tag"linkedin.jpg", class: "img-footer" %>
  #         </a>
  #         <a href="https://github.com/">
  #         <%= image_tag"githublogo.png", class: "img-footer" %>
  #         </a>
  #         <a href="https://twitter.com/">
  #         <%= image_tag"twitterlogo.png", class: "img-footer" %>
  #         </a>
  #         <a href="https://students.gschool.it/">
  #         <%= image_tag"galvanizelogo.png", class: "img-footer" %>
  #         </a>
  #       </div>
  #     </div>
  #   </footer> -->
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</html>
