<div class="container">
  <div class="page-header">
    <div class="pull-right">
      <% if @project_owner %>
      <%= link_to 'Edit', edit_project_path, class: 'btn btn-info' %>
      <% end %>
      <%= link_to 'New Task', new_project_task_path(@project), class: 'btn btn-default'  %>
  </div>

  <h1><%= @project.name %></h1>

  <ol class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %></li>
  <li class="active"><%= @project.name %></li>
  </ol>

  <p><%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project) %></p>
  <p><%= link_to "#{@memberships.count} Memberships", project_memberships_path(@project) %></p>
  <% if @project_owner %>
  <div class="well">
    <p><strong>Delete</strong></p>
    <%= "Deleting this project will aslo delete #{pluralize(@memberships.count, 'membership', 'memberships')}, #{pluralize(@project.tasks.count, 'task', 'tasks')} and associated comments" %>
    <p><%= link_to 'Delete', project_path, class: 'btn btn-danger',  method: :delete, data: { confirm: 'Are you sure?'} %></p>
  </div>
  <% end %>
</div>
