<div class = "container">

<h1>Frequently Asked Questions</h1>

  <hr>

  <% @faqs.each do |faq| %>
    <li><%= link_to faq.question_text, "#" + faq.slug %></li>
  <% end %>

<br>

  <% @faqs.each do |faq| %>
    <div class='question'>
      <h5><strong><%= faq.question_text %></strong></h5>
      <p><%= faq.answer_text %></p>
      <a id = "<%= faq.slug %>"></a>
        <%= link_to "Top", "#top" %>
    </div>
  <% end %>

</div>
