<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <body name = "top">
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'gCamp', root_path, class: "navbar-brand" %>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
                <%= link_to current_user.full_name, current_user, class: "navbar-brand" %>
                <%= link_to "Sign Out", logout_path, method: :delete, class: "navbar-brand" %>
              <% else %>
                <%= link_to 'Sign Up', signup_path, class: "navbar-brand" %>
                <%= link_to 'Sign In', login_path, class: "navbar-brand" %>
              <% end %>

            </ul>
          </div>
        </div>
      </nav>
    </div>
<div class="container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
</div>



    <%= yield %>

    <div class="container">
      <footer>
        <div class="row">
          <div class="col-md-6">
            <%= link_to "About", about_path %>
            |
            <%= link_to "Terms", terms_path %>
            |
            <%= link_to "FAQ", faq_path %>
            <% if current_user %>
            |
            <%= link_to "Projects", projects_path %>
            |
            <%= link_to "Users", users_path %>
            |
            <% end %>
          </div>

          <div class="col-md-6 text-right">

            <%= link_to "http://www.linkedin.com/in/tyhyten" do %>
            <%= image_tag "linkedin.jpg", class: "img-footer"%>
            <% end %>

            <%= link_to "http://github.com/tyhyten" do %>
            <%= image_tag "githublogo.png", class: "img-footer"%>
            <% end %>

            <%= link_to "http://twitter.com/tyhyten" do %>
            <%= image_tag "twitterlogo.png", class: "img-footer"%>
            <% end %>

            <%= link_to "http://students.gschool.it/cohorts/9/students/210" do %>
            <%= image_tag "galvanizelogo.png", class: "img-footer"%>
            <% end %>

          </div>
        </div>
      </footer>
    </div>

  </body>
  </html>
